* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background: rgb(57, 57, 57); */
    background: linear-gradient(rgb(84, 84, 84), rgb(39, 39, 39));
}

#temps {
    display: flex;
    gap: 40px;
    color: white;
}

#temps .cercle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#temps .cercle svg {
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}

#temps .cercle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke: rgb(251, 251, 251);
    stroke-width: 8;
    transform: translate(5px, 5px);
}

#temps .cercle svg circle:nth-child(2) {
    stroke: var(--clr);
    stroke-dasharray: 440;
}

#temps div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
}

#temps div span {
    position: absolute;
    transform: translateX(-50%);
    font-size: 0.35em;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.points {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points::before {
    content: ' ';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}